/* .container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    font-weight: lighter;
} */

/* .container_header{
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
    font-size: smaller;
    font-weight: 100;
}

.header_left{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*/

.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
    min-width: 300px;
} 


.container {
    max-width: 19%;
}
  

.circle{
  size: 10px;
}
  .container_header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  }
  
  .header_left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header_left p {
    margin: 0;
  }
  
  .header_right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header_right h3 {
    margin: 0;
    cursor: pointer;
  }
  
  .header_right p {
    margin: 0;
    cursor: pointer;
  }
  